@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

header {
    background-color: #f8f8f8;
    padding: 0 1rem 0 1rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    h1 {
        font-size: 1.5rem;
        margin: 0 0 0.5rem 0;
    }
    nav {
        ul {
            display: flex;
            gap: 2em;
            list-style: none;
            padding: 0;
            margin: 0;
        }
    }
}

main {
    padding: 1rem;
}

.buglist-index {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card {
    border: 1px solid #ccc;
    padding: 1rem;
}
.card-warning {
    border-left: 3px solid red;
}
.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}